.home {
  img {
    width: 100%;
    height: auto;
  }
  section {
    display: flex;
    justify-content: center;
    width: 100%;
    div {
      width: 40vw;
      .content {
        display: block;
        margin-bottom: 30px;
      }
      .btn {
        width: 100%;
        background-color: #000;
        color: #fff;
        border-radius: 20px;
        font-size: 1.1rem;
        z-index: 20;
      }
    }
  }
}
